In [0]:
from pyspark.sql.functions import col, lit, current_timestamp,coalesce
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, TimestampType
from datetime import datetime

# Define schema for the source DataFrame
source_schema = StructType([
    StructField("Emp_ID", IntegerType(), False),
    StructField("First_Name", StringType(), False),
    StructField("Last_Name", StringType(), False),
    StructField("Salary", FloatType(), False),
    StructField("Nationality", StringType(), False),
    StructField("timestamp", TimestampType(), False)
])

# Define initial data with datetime objects
initial_data = [
    (1, 'Scott', 'Tiger', 1000.0, 'India', datetime(2023, 1, 1, 0, 0, 0)),
    (2, 'John', 'Clair', 2000.0, 'UK', datetime(2023, 1, 1, 0, 0, 0))
]
employee_source = spark.createDataFrame(initial_data, schema=source_schema)

# Convert the timestamp field from string to TimestampType
employee_source = employee_source.withColumn("timestamp", col("timestamp").cast(TimestampType()))


# Define schema for the target DataFrame
target_schema = StructType([
    StructField("Emp_ID", IntegerType(), False),
    StructField("First_Name", StringType(), False),
    StructField("Last_Name", StringType(), False),
    StructField("Salary", FloatType(), False),
    StructField("Nationality", StringType(), False)
])

# Create an empty target DataFrame
employee_target = spark.createDataFrame([], schema=target_schema)

In [0]:
# Deduplicate the source DataFrame based on the latest timestamp
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

windowSpec = Window.partitionBy("Emp_ID").orderBy(col("timestamp").desc())
deduped_employee_source = employee_source.withColumn("row_num", row_number().over(windowSpec)).filter(col("row_num") == 1).drop("row_num")

# Merge operation: update existing records and insert new ones
# Join the target with the deduped source DataFrame
merged_df = employee_target.alias('target').join(
    deduped_employee_source.alias('source'),
    on='Emp_ID',
    how='outer'
)

# Create updated DataFrame
updated_df = merged_df.select(
    coalesce(col('source.Emp_ID'), col('target.Emp_ID')).alias('Emp_ID'),
    coalesce(col('source.First_Name'), col('target.First_Name')).alias('First_Name'),
    coalesce(col('source.Last_Name'), col('target.Last_Name')).alias('Last_Name'),
    coalesce(col('source.Salary'), col('target.Salary')).alias('Salary'),
    coalesce(col('source.Nationality'), col('target.Nationality')).alias('Nationality')
)

# Show the updated target DataFrame
updated_df.show()

+------+----------+---------+-------+-----------+
|Emp_ID|First_Name|Last_Name| Salary|Nationality|
+------+----------+---------+-------+-----------+
|     1|     Scott|    Tiger|1000.13|        USA|
|     2|      John|    Clair| 2000.0|         UK|
+------+----------+---------+-------+-----------+

In [0]:
# Insert new data into the source DataFrame
new_data = [
    (1, 'Scott', 'Tiger', 1000.13, 'USA', datetime(2023, 1, 2, 0, 0, 0))
]
new_employee_source = spark.createDataFrame(new_data, schema=source_schema)

# Union new data with existing source data
employee_source = employee_source.union(new_employee_source)

In [0]:
dbutils.fs.rm("dbfs:/user/hive/warehouse/employee_target", True)

Out[10]: True

In [0]:
%sql
-- Create the source table if it does not exist, including the timestamp column
CREATE TABLE IF NOT EXISTS employee_source (
    Emp_ID INT,
    First_Name STRING,
    Last_Name STRING,
    Salary FLOAT,
    Nationality STRING,
    timestamp TIMESTAMP
);

-- Insert initial data into the source table
INSERT INTO employee_source VALUES
    (1, 'Scott', 'Tiger', 1000.0, 'India', CURRENT_TIMESTAMP()), 
    (2, 'John', 'Clair', 2000.0, 'UK', CURRENT_TIMESTAMP());

-- Create the target table if it does not exist
CREATE TABLE IF NOT EXISTS employee_target (
    Emp_ID INT,
    First_Name STRING,
    Last_Name STRING,
    Salary FLOAT,
    Nationality STRING,
    start_date DATE,
    end_date DATE,
    current_flag BOOLEAN
);

-- Create a CTE to get the latest records from the source table
WITH latest_employee_records AS (
    SELECT Emp_ID, First_Name, Last_Name, Salary, Nationality, timestamp
    FROM (
        SELECT 
            *,
            ROW_NUMBER() OVER (PARTITION BY Emp_ID ORDER BY timestamp DESC) as rn
        FROM employee_source
    ) subquery
    WHERE rn = 1
)

-- Perform the SCD Type 2 MERGE operation
MERGE INTO employee_target AS target
USING (
    SELECT 
        Emp_ID, 
        First_Name, 
        Last_Name, 
        Salary, 
        Nationality, 
        timestamp
    FROM latest_employee_records
) AS source
ON target.Emp_ID = source.Emp_ID AND target.current_flag = TRUE
WHEN MATCHED 
    AND (
        target.First_Name != source.First_Name OR 
        target.Last_Name != source.Last_Name OR 
        target.Salary != source.Salary OR 
        target.Nationality != source.Nationality
    )
THEN
    UPDATE SET
        target.current_flag = FALSE,
        target.end_date = source.timestamp
WHEN NOT MATCHED THEN
    INSERT (
        Emp_ID,
        First_Name,
        Last_Name,
        Salary,
        Nationality,
        start_date,
        end_date,
        current_flag
    )
    VALUES (
        source.Emp_ID,
        source.First_Name,
        source.Last_Name,
        source.Salary,
        source.Nationality,
        source.timestamp,
        NULL,
        TRUE
    );

-- Insert new records for the updated entries
INSERT INTO employee_target (Emp_ID, First_Name, Last_Name, Salary, Nationality, start_date, end_date, current_flag)
SELECT 
    source.Emp_ID, 
    source.First_Name, 
    source.Last_Name, 
    source.Salary, 
    source.Nationality, 
    source.timestamp,
    NULL,
    TRUE
FROM latest_employee_records source
JOIN employee_target target
ON target.Emp_ID = source.Emp_ID AND target.end_date = source.timestamp
WHERE target.First_Name != source.First_Name 
    OR target.Last_Name != source.Last_Name 
    OR target.Salary != source.Salary 
    OR target.Nationality != source.Nationality;

-- Select data from the target table to verify changes
SELECT * FROM employee_target ORDER BY Emp_ID, start_date;

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
<command-1101136203510778> in <cell line: 1>()
     10     display(df)
     11     return df
---> 12   _sqldf = ____databricks_percent_sql()
     13 finally:
     14   del ____databricks_percent_sql

<command-1101136203510778> in ____databricks_percent_sql()
      6     spark.sql(base64.standard_b64decode("LS0gQ3JlYXRlIHRoZSB0YXJnZXQgdGFibGUgaWYgaXQgZG9lcyBub3QgZXhpc3QKQ1JFQVRFIFRBQkxFIElGIE5PVCBFWElTVFMgZW1wbG95ZWVfdGFyZ2V0ICgKICAgIEVtcF9JRCBJTlQsCiAgICBGaXJzdF9OYW1lIFNUUklORywKICAgIExhc3RfTmFtZSBTVFJJTkcsCiAgICBTYWxhcnkgRkxPQVQsCiAgICBOYXRpb25hbGl0eSBTVFJJTkcsCiAgICBzdGFydF9kYXRlIERBVEUsCiAgICBlbmRfZGF0ZSBEQVRFLAogICAgY3VycmVudF9mbGFnIEJPT0xFQU4KKQ==").decode())
      7     spark.sql(base64.standard_b64decode("LS0gQ3JlYXRlIGEgQ1RFIHRvIGdldCB0aGUgbGF0ZXN0IHJlY29yZHMgZnJvbSB0aGUgc291cmNlIHRhYmxlCldJVEggbGF0ZXN0X2VtcGxveWVlX3JlY29yZHMgQVMgKAogICAgU0VMRUNUIEVtcF9JRCwgRmlyc3RfTmFtZSwgTGFzdF9OYW1lLCBTYWxhcnksIE5hdGlvbmFsaXR5LCB0aW1lc3RhbXAKICAgIEZST00gKAogICAgICAgIFNFTEVDVCAKICAgICAgICAgICAgKiwKICAgICAgICAgICAgUk9XX05VTUJFUigpIE9WRVIgKFBBUlRJVElPTiBCWSBFbXBfSUQgT1JERVIgQlkgdGltZXN0YW1wIERFU0MpIGFzIHJuCiAgICAgICAgRlJPTSBlbXBsb3llZV9zb3VyY2UKICAgICkgc3VicXVlcnkKICAgIFdIRVJFIHJuID0gMQopCgotLSBQZXJmb3JtIHRoZSBTQ0QgVHlwZSAyIE1FUkdFIG9wZXJhdGlvbgpNRVJHRSBJTlRPIGVtcGxveWVlX3RhcmdldCBBUyB0YXJnZXQKVVNJTkcgKAogICAgU0VMRUNUIAogICAgICAgIEVtcF9JRCwgCiAgICAgICAgRmlyc3RfTmFtZSwgCiAgICAgICAgTGFzdF9OYW1lLCAKICAgICAgICBTYWxhcnksIAogICAgICAgIE5hdGlvbmFsaXR5LCAKICAgICAgICB0aW1lc3RhbXAKICAgIEZST00gbGF0ZXN0X2VtcGxveWVlX3JlY29yZHMKKSBBUyBzb3VyY2UKT04gdGFyZ2V0LkVtcF9JRCA9IHNvdXJjZS5FbXBfSUQgQU5EIHRhcmdldC5jdXJyZW50X2ZsYWcgPSBUUlVFCldIRU4gTUFUQ0hFRCAKICAgIEFORCAoCiAgICAgICAgdGFyZ2V0LkZpcnN0X05hbWUgIT0gc291cmNlLkZpcnN0X05hbWUgT1IgCiAgICAgICAgdGFyZ2V0Lkxhc3RfTmFtZSAhPSBzb3VyY2UuTGFzdF9OYW1lIE9SIAogICAgICAgIHRhcmdldC5TYWxhcnkgIT0gc291cmNlLlNhbGFyeSBPUiAKICAgICAgICB0YXJnZXQuTmF0aW9uYWxpdHkgIT0gc291cmNlLk5hdGlvbmFsaXR5CiAgICApClRIRU4KICAgIFVQREFURSBTRVQKICAgICAgICB0YXJnZXQuY3VycmVudF9mbGFnID0gRkFMU0UsCiAgICAgICAgdGFyZ2V0LmVuZF9kYXRlID0gc291cmNlLnRpbWVzdGFtcApXSEVOIE5PVCBNQVRDSEVEIFRIRU4KICAgIElOU0VSVCAoCiAgICAgICAgRW1wX0lELAogICAgICAgIEZpcnN0X05hbWUsCiAgICAgICAgTGFzdF9OYW1lLAogICAgICAgIFNhbGFyeSwKICAgICAgICBOYXRpb25hbGl0eSwKICAgICAgICBzdGFydF9kYXRlLAogICAgICAgIGVuZF9kYXRlLAogICAgICAgIGN1cnJlbnRfZmxhZwogICAgKQogICAgVkFMVUVTICgKICAgICAgICBzb3VyY2UuRW1wX0lELAogICAgICAgIHNvdXJjZS5GaXJzdF9OYW1lLAogICAgICAgIHNvdXJjZS5MYXN0X05hbWUsCiAgICAgICAgc291cmNlLlNhbGFyeSwKICAgICAgICBzb3VyY2UuTmF0aW9uYWxpdHksCiAgICAgICAgc291cmNlLnRpbWVzdGFtcCwKICAgICAgICBOVUxMLAogICAgICAgIFRSVUUKICAgICk=").decode())
----> 8     spark.sql(base64.standard_b64decode("LS0gSW5zZXJ0IG5ldyByZWNvcmRzIGZvciB0aGUgdXBkYXRlZCBlbnRyaWVzCklOU0VSVCBJTlRPIGVtcGxveWVlX3RhcmdldCAoRW1wX0lELCBGaXJzdF9OYW1lLCBMYXN0X05hbWUsIFNhbGFyeSwgTmF0aW9uYWxpdHksIHN0YXJ0X2RhdGUsIGVuZF9kYXRlLCBjdXJyZW50X2ZsYWcpClNFTEVDVCAKICAgIHNvdXJjZS5FbXBfSUQsIAogICAgc291cmNlLkZpcnN0X05hbWUsIAogICAgc291cmNlLkxhc3RfTmFtZSwgCiAgICBzb3VyY2UuU2FsYXJ5LCAKICAgIHNvdXJjZS5OYXRpb25hbGl0eSwgCiAgICBzb3VyY2UudGltZXN0YW1wLAogICAgTlVMTCwKICAgIFRSVUUKRlJPTSBsYXRlc3RfZW1wbG95ZWVfcmVjb3JkcyBzb3VyY2UKSk9JTiBlbXBsb3llZV90YXJnZXQgdGFyZ2V0Ck9OIHRhcmdldC5FbXBfSUQgPSBzb3VyY2UuRW1wX0lEIEFORCB0YXJnZXQuZW5kX2RhdGUgPSBzb3VyY2UudGltZXN0YW1wCldIRVJFIHRhcmdldC5GaXJzdF9OYW1lICE9IHNvdXJjZS5GaXJzdF9OYW1lIAogICAgT1IgdGFyZ2V0Lkxhc3RfTmFtZSAhPSBzb3VyY2UuTGFzdF9OYW1lIAogICAgT1IgdGFyZ2V0LlNhbGFyeSAhPSBzb3VyY2UuU2FsYXJ5IAogICAgT1IgdGFyZ2V0Lk5hdGlvbmFsaXR5ICE9IHNvdXJjZS5OYXRpb25hbGl0eQ==").decode())
      9     df = spark.sql(base64.standard_b64decode("LS0gU2VsZWN0IGRhdGEgZnJvbSB0aGUgdGFyZ2V0IHRhYmxlIHRvIHZlcmlmeSBjaGFuZ2VzClNFTEVDVCAqIEZST00gZW1wbG95ZWVfdGFyZ2V0IE9SREVSIEJZIEVtcF9JRCwgc3RhcnRfZGF0ZQ==").decode())
     10     display(df)

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(*args, **kwargs)
     46             start = time.perf_counter()
     47             try:
---> 48                 res = func(*args, **kwargs)
     49                 logger.log_success(
     50                     module_name, class_name, function_name, time.perf_counter() - start, signature

/databricks/spark/python/pyspark/sql/session.py in sql(self, sqlQuery, **kwargs)
   1117             sqlQuery = formatter.format(sqlQuery, **kwargs)
   1118         try:
-> 1119             return DataFrame(self._jsparkSession.sql(sqlQuery), self)
   1120         finally:
   1121             if len(kwargs) > 0:

/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1319
   1320         answer = self.gateway_client.send_command(command)
-> 1321         return_value = get_return_value(
   1322             answer, self.gateway_client, self.target_id, self.name)
   1323

/databricks/spark/python/pyspark/sql/utils.py in deco(*a, **kw)
    200                 # Hide where the exception came from that shows a non-Pythonic
    201                 # JVM exception message.
--> 202                 raise converted from None
    203             else:
    204                 raise

AnalysisException: Table or view not found: latest_employee_records; line 12 pos 5;
'InsertIntoStatement 'UnresolvedRelation [employee_target], [], false, [Emp_ID, First_Name, Last_Name, Salary, Nationality, start_date, end_date, current_flag], false, false
+- 'Project ['source.Emp_ID, 'source.First_Name, 'source.Last_Name, 'source.Salary, 'source.Nationality, 'source.timestamp, unresolvedalias(null, None), unresolvedalias(true, None)]
   +- 'Filter ((NOT ('target.First_Name = 'source.First_Name) OR NOT ('target.Last_Name = 'source.Last_Name)) OR (NOT ('target.Salary = 'source.Salary) OR NOT ('target.Nationality = 'source.Nationality)))
      +- 'Join Inner, (('target.Emp_ID = 'source.Emp_ID) AND ('target.end_date = 'source.timestamp))
         :- 'SubqueryAlias source
         :  +- 'UnresolvedRelation [latest_employee_records], [], false
         +- SubqueryAlias target
            +- SubqueryAlias spark_catalog.default.employee_target
               +- Relation spark_catalog.default.employee_target[Emp_ID#6807,First_Name#6808,Last_Name#6809,Salary#6810,Nationality#6811,start_date#6812,end_date#6813,current_flag#6814] parquet

In [0]:
%sql
-- Perform the SCD Type 2 MERGE operation
MERGE INTO employee_target1 AS target
USING (
    SELECT 
        Emp_ID, 
        First_Name, 
        Last_Name, 
        Salary, 
        Nationality, 
        timestamp
    FROM latest_employee_records1
) AS source
ON target.Emp_ID = source.Emp_ID AND target.current_flag = TRUE
WHEN MATCHED 
    AND (
        target.First_Name != source.First_Name OR 
        target.Last_Name != source.Last_Name OR 
        target.Salary != source.Salary OR 
        target.Nationality != source.Nationality
    )
THEN
    UPDATE SET
        target.current_flag = FALSE,
        target.end_date = source.timestamp
WHEN NOT MATCHED THEN
    INSERT (
        Emp_ID,
        First_Name,
        Last_Name,
        Salary,
        Nationality,
        start_date,
        end_date,
        current_flag
    )
    VALUES (
        source.Emp_ID,
        source.First_Name,
        source.Last_Name,
        source.Salary,
        source.Nationality,
        source.timestamp,
        NULL,
        TRUE
    );

In [0]:
%sql
-- Insert new records for the updated entries
INSERT INTO employee_target1 (Emp_ID, First_Name, Last_Name, Salary, Nationality, start_date, end_date, current_flag)
SELECT 
    source.Emp_ID, 
    source.First_Name, 
    source.Last_Name, 
    source.Salary, 
    source.Nationality, 
    source.timestamp,
    NULL,
    TRUE
FROM latest_employee_records1 source
JOIN employee_target1 target
ON target.Emp_ID = source.Emp_ID AND target.end_date = source.timestamp
WHERE target.First_Name != source.First_Name 
    OR target.Last_Name != source.Last_Name 
    OR target.Salary != source.Salary 
    OR target.Nationality != source.Nationality;

-- Select data from the target table to verify changes
SELECT * FROM employee_target1 ORDER BY Emp_ID, start_date;